<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text style="font-size: 1.5rem; font-weight: bold; text-transform: uppercase;">
        <ion-icon name="create" style="transform: rotate(-15deg);"></ion-icon>
        <ion-icon name="color-wand" style="transform: rotate(15deg);"></ion-icon>
        Creatividad a tu alcance
      </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Experiencia en Pasantía</ion-card-subtitle>
      <ion-card-title>Mi Historial de Pasantías</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="school" slot="start"></ion-icon>
          <ion-text>
            <ul>
              <ion-label><b>Cargo:</b> Pasante de Desarrollo Web/Móvil</ion-label>
              <ion-label><b>Empresa:</b> Empresa Eléctrica Ambato Regional Centro Norte S.A.</ion-label>
            </ul>
          </ion-text>

          <ion-label><b>Duración:</b> 4 meses</ion-label>
          <ion-label><b>Responsabilidades:</b></ion-label>
          <ion-text>
            <ul>
              <li>Desarrollo de aplicacion Móvil</li>
              <li>Mantenimiento de sitios web existentes</li>
              <li>Colaboración en proyectos de equipo</li>
            </ul>
          </ion-text>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
